body {
  height: 100%;
  background: url(../img/image7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  height: 100px;
  /* width: 100px; */
}
.div-login {
  margin: auto;
  max-width: 480px;
  min-height: 440px;
  position: relative;
  background: no-repeat center;
  box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
  height: 50px;
  width: 480px;
  background-color: rgba(236, 233, 233, 0.774);
}

.div-form {
  height: 100%;
  position: absolute;
}
.email {
  margin: 50px 100px 10px 100px;
  background: rgb(225, 224, 226);
  font-size: 15px;
  padding: 10px 50px 10px 50px;
  border: none;
  border-radius: 10px;
  opacity: 0.8;
}
.password {
  background: rgb(225, 224, 226);
  font-size: 15px;
  padding: 10px 50px 10px 50px;
  border: none;
  border-radius: 10px;
  opacity: 0.8;
}
.btn {
  display: block;
  margin: 20px auto;
  background: rgb(137, 82, 189);
  color: white;
  font-size: 20px;
  padding: 10px 118px 10px 118px;
  border: none;
  border-radius: 12px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.selection {
  text-align: center;
}
